
.wrapper
    display: flex
    width: 70vw
    padding 20px
    background: #fff
    box-shadow: 3px 3px 15px #aaa
    border-radius: 4px
    flex-direction: column
    transform: translate3d(0, -50%, 0)

.message
    padding-bottom: 20px
    color: #cc0000

.actions
    display: flex
    justify-content: flex-end
