/**
 * Customize Twitter Bootstrap
 * `~node_modules/bootstrap-styl/bootstrap/variables.styl`
 */

$icon-font-path = '../../node_modules/bootstrap-styl/fonts/'
// $gray-light = red
// $gray-lighter = #666
// $brand-primary = white
@import "bootstrap/variables"
