/**
 * Global Project CSS
 *
 */

// Import a custom Boostrap setup here
@import "./bootstrap-variables"
@import "./bootstrap-modules"

html, body
    margin: 0
    padding: 0

#react-root
    display: flex
    width: 100vw
    height: 100vh
    flex-direction: column
