
.wrapper
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1100
    display: flex
    flex-direction: column
    transition: transform 450ms ease
    box-shadow: 0 0 20px #666

.none--exited
    display: none

.slideLeft--exited
    transform: translate3d(110vw, 0, 0)

.slideLeft--endered
    transform: translate3d(0, 0, 0)

.slideUp--exited
    transform: translate3d(0, 110vh, 0)

.slideUp--endered
    transform: translate3d(0, 0, 0)
