
.wrapper
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: #fff
    z-index: 1100
    display: flex
    flex-direction: column
    transition: transform 450ms ease
    box-shadow: 0 0 20px #666

.slideRight--exited
    transform: translate3d(110vw, 0, 0)

.slideRight--endered
    transform: translate3d(0, 0, 0)
