
.wrapper
    display: flex
    flex: 1
    flex-direction: column

.scrollable
    overflow: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar

.centered
    justify-content: center
    align-items: center
